* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.header-main {
  display: flex;
  height: 7.5rem;
}
.imgs {
  display: flex;
  margin: 1.8rem 0 0 8.4rem;
}
.img-1 {
  height: 4rem;
  margin-right: 00.5rem;
}
.img-2 {
  height: 4rem;
}

.buttons {
  width: 100vw;
  text-align: right;
  margin: auto;
  margin-right: 9rem;
}

.btn-1,
.btn-2 {
  margin-right: 0.5rem;
  height: 2.5rem;
  border: 1px solid #dcdacb;
  width: 17rem;
  height: 3.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 120%;
  border-radius: 4px;
  cursor: pointer;
}
.btn-1 {
  background-color: transparent;
}
.btn-2 {
  background-color: #0f7c90;
  color: #ffff;
}
.btn-1:hover {
  background-color: #0f7c90;
  color: #ffff;
  text-decoration: none;
}
.btn-2:hover {
  background-color: #0a5260;
  text-decoration: none;
}

.barra-menu {
  background-color: #000;
  height: 5.7rem;
  width: 100%;
}

.menu-container,
ul {
  padding-top: 2.1rem;
}
.menu-container,
ul a {
  padding: 1.3rem;
}

.menu-container,
li,
a {
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 120%;
}

.menu-container,
a:hover {
  color: #fff;
}

.icon {
  height: 2.5rem;
  float: right;
  margin-right: 9.5rem;
  margin-left: -15rem;
  /* margin-right: -22rem; */
}

.img-3 {
  width: 100%;
  object-fit: none;
  height: 39vh;
}

.title-img {
  color: #fff;
  font-weight: 700;
  font-size: 6rem;
  margin: -15.6rem 0 0 9.6rem;
}
.img-fondo {
  margin-bottom: 10rem;
}

.container-main {
  /* background-color: blueviolet; */
  width: 100%;
  padding-left: 9.8rem;
  padding-right: 8rem;
  /* 84px; */
}
.container-1 {
  /* background-color: blanchedalmond; */
  /* padding: 3rem 0 3rem; */
  display: flex;
}
.titles {
  margin-top: 13.9rem;
  margin-bottom: 1rem;
}

.titles,
h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.blocks {
  /* background-color: brown; */
  width: 33.3%;
  border: 1px solid #dcdacb;
  border-radius: 1px;
  padding: 24px;
}

.bc-1,
.bc-2 {
  margin-right: 3rem;
}

.link-s {
  color: #3c3b37;
  font-weight: 700;
  font-size: 1.9rem;
  height: 70px;
  margin-bottom: 10px;
  line-height: 1.2;
}
.title-superior {
  color: #73726c;
  line-height: 120%;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.title-center {
  margin-bottom: 8rem;
}

.title-inferior,
h2 {
  font-size: 1.4rem;
  color: #73726c;
}
.title-inferior {
  margin-top: 4.8rem;
  margin-bottom: -1rem;
}

/* @media screen and (max-width: 450px) {
  For mobile phones:
  .imgs {
    width: 100%;
    margin-left: 3rem;
  }

  .img-1,
  .img-2 {
    height: 4rem;
  }
  .buttons {
    margin-left: 3rem;
    width: 17.5rem;
    height: 3.8rem;
  }
} */
