* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.header-main {
  display: flex;
  height: 7.5rem;
}
.imgs {
  display: flex;
  margin: 1.8rem 0 0 8.4rem;
}
.img-1 {
  height: 4rem;
  margin-right: 00.5rem;
}
.img-2 {
  height: 4rem;
}

.buttons {
  background-color: blueviolet;
  width: 100vw;
  text-align: right;
  margin: auto;
}

.btn-1,
.btn-2 {
  margin-right: 0.5rem;
  height: 2.5rem;
  border: 1px solid #dcdacb;
  width: 10rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 120%;
  border-radius: 4px;
}
